header *{
    text-align: center;
}
section{
    display: flex;
    align-items: center;
    flex-flow: row;
}
article{
    border: 1px black solid;
    margin: 0 15%;
    border-radius: 10%;
    filter: none;
    display: flex;
    align-items: center;
    transition: filter 2s linear;
}
img:hover{
    filter: sepia(0.5);
}
